<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Green Glass Door</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/ggd_favicon.ico">

 </head>
 <body>
   <div class="wrapper">
     <h1>The Green Glass Door</h1>
     <form method="POST" action="/stage1">
       <p>
         Can a 
         <input type="text" placeholder="singular noun (i.e. baseball)" size="25" name="user_input" autofocus>
         go through the green glass door?<br>
         <input type="submit" value="Check">
       </p>
     </form>
   </div>
 </body>
</html>